#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizental-space);
}

.friends-screen__bar {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__bar-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

.user-component__list {
  margin: 10px 0;
}

.friend-list {
  margin-bottom: 30px;
}
