.settings-list {
  margin: 30px 12px 12px 12px;
  border-bottom: var(--main-border);
}

.settings-list:first-child {
  margin-top: 40px;
}

.settings__setting {
  padding: 30px 0;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.settings__setting-column:last-child {
  opacity: 0.8;
}

.settings__setting i {
  padding-right: 18px;
  opacity: 0.8;
}

.settings__setting-column {
  display: flex;
}

.settings__setting-new {
  font-size: 14px;
  margin-left: 10px;
}
