.alt-screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-size: 32px;
  font-weight: 600;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}

.alt-screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__column span:not(:first-child) {
  margin-left: 20px;
}
