.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  width: 130px;
  height: 80px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon-row__icon-notification {
  position: absolute;
  top: -30px;
  left: 85px;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}
